/* ================================= 
  General Styles
==================================== */

* {
    box-sizing:border-box;
  }

  a { 
    color: red;
    text-decoration: none;
}

.name {
    margin: 0;
  }

body {
    line-height: 1.6;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   }

   .container {
    padding-left: 1em;
    padding-right: 1em;
    flex: 1;
    }

   
 
  

  /* ==========Header Line=================== */

  .name {
    color: yellow;
    text-shadow: .5px 3px 0 rgb(73, 73, 23);
    text-align: center;
  }

  .main-header {
    background: rgb(82, 16, 16);
    padding: 1em 0;
  }

  .main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
  }

  @media (min-width: 769px) {
    .main-header, .main-nav {
      display: flex;
    }
    .main-header {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 1025px) {
    .main-header {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

 

 
  
  
  /* ================Thailand Section============ */
.Thailand {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0 0 20px 10px blue;

}
  /*=============GSM Section====================*/
  .GSM {
      background-color: green;
      border-radius: 10px;
      text-align: center;
  }


  /*=================Footer====================*/

  .main-footer {
    text-align: center;
      padding: 2em 0;
      background: maroon;
      color: white;
  }
  
 
  
  /* ================================= 
    Base Layout Styles
  ==================================== */
  
  /* ---- Navigation ---- */
  
 
  
  
  
    /* ---- Media Queries ---- */
  
  @media (min-width: 769px) {
    .container {
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
  }
  }